/* General */

img{
    height: 100px;
    width: auto;
}
/* Use this code to let the body fill the whole screen*/
html, body {
    margin: 0;
    height: 100%;
}

/* Make the body a flex-container two hole the other sections and elements */

body{
    display: flex;
    flex-direction: column; 
}


/* First Section */

.head-section,
header,
ul,
.section-one{
    display: flex;
}

/* Head-Section is the includes the first image etc, header is only the first line */

.head-section{
    padding: 16px;
    flex-direction: column;
    background-color: #1F2937;
    color: #F9FAF8;
}

header{
    justify-content: space-between;
    align-items: center;
}

ul{
    flex-direction: row;
    gap:10px;
}

a{
    
    text-decoration: none;
    color: #F9FAF8;
}


/* Second Section */
.section-two{
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}


/* Third Section */
.section-three{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 32px;
    text-align: center;
    flex-wrap: wrap;
}

.quote{
    font-size: 28px;
    font-style: italic;
}
.author{
    display: flex;
    justify-content: flex-end;
}


/* Section four */
.section-four
.container{
    display: flex;
    
}

.section-four{
    flex-direction: column;
    padding: 24px;
    justify-content: center;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: auto;
    justify-content: space-between;
    padding: 16px;
    gap: 24px;
    color: #E5E7EB;
    background-color: #3882f6;
}

.container-texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    gap: 8px;
}

.container-texts h5{
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}
.container-texts p{
    margin: 0;
    font-size: 12px;
}