/* General */

img{
    height: 120px;
    width: 120px;
}
/* Use this code to let the body fill the whole screen*/
html, body {
    margin: 0;
    height: 100%;
}

/* Make the body a flex-container two hole the other sections and elements */

body{
    display: flex;
    flex-direction: column;
    font-family: sans-serif; 
}


/* First Section */

.head-section,
header,
ul,
.section-one{
    display: flex;
    gap: 300px;
}

/* Head-Section is the includes the first image etc, header is only the first line */

.head-section{
    padding: 16px;
    flex-direction: column;
    background-color: #1F2937;
    color: #F9FAF8;
    padding-bottom: 32px;
}

.container-head{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

header{

    justify-content: space-between;
    align-items: center;
}

ul{
    flex-direction: row;
    gap:10px;

}

a{
    font-size: 14px;
    text-decoration: none;
    color: #F9FAF8;
}

.section-one-info{
    display: flex;
    flex-direction: column;
}

.section-one-info p{
    display: flex;
    text-align: left;
    width: 300px;
    height: auto;
    
}

.section-one-info button{
    width: 120px;
    height: auto;
    color: #E5E7EB;
    border-radius: 5px;
    background-color: #3882f6;
    border: 1px solid #1F2937;
    
}


.section-one img{
    display: flex;
    width: 250px;
    height: 150px;
}

header h2{
    font-size: 16px;
}

/* Second Section */
.section-two{
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.images{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;

}


.images img{
    border: 3px solid blue;
    border-radius: 5px;
}

.image-one,
.image-two,
.image-three,
.image-four{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 150px;
    height: auto;
}

.section-two h2{
    font-weight: 900;
    font-size: 28px;
    color: black;
}


/* Third Section */
.section-three{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 32px;
    text-align: center;
    flex-wrap: wrap;
}

.quote{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 700px;
    height: auto;
    flex-wrap: wrap;
    font-size: 28px;
    font-style: italic;
}
.author{
    display: flex;
    justify-content: flex-end;
    width: 700px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
}


/* Section four */
.section-four
.container{
    display: flex;
    
}

.section-four{
    flex-direction: column;
    padding: 24px;
    justify-content: center;
}

.container{
    border: 1px solid white;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: auto;
    justify-content: space-between;
    padding: 24px;
    gap: 24px;
    color: #E5E7EB;
    background-color: #3882f6;
}

.container-texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    gap: 8px;
}

.container-texts h5{
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}
.container-texts p{
    margin: 0;
    font-size: 12px;
}

.container button{
    width: 100px;
    height: 32px;
    color: #E5E7EB;
    border-radius: 5px;
    background-color: #3882f6;
    border: 1px solid white;
}


/* Footer Section */
footer{
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    color: #E5E7EB;
}